<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice2</title>
  </head>
  <body>
    <h1>실습문제2</h1>
    <form action="/practice4" method="POST">
      <label> 이름: <input type="text" name="name" id="name" /> </label>
      <br />
      <fieldset>
        <legend>성별</legend>
        <label><input type="radio" name="gender" value="남자" />남자 </label>
        <label><input type="radio" name="gender" value="여자" />여자 </label>
      </fieldset>
      <br />
      <fieldset>
        <legend>생년월일</legend>
        <label
          ><select name="year">
            <%for(let year=1980; year<2011; year++){%>
            <option value="<%=year%>"><%=year%></option>
            <%}%></select
          >년</label
        >
        <label
          ><select id="month" name="month">
            <%for(month=1; month<13; month++){%>
            <option value="<%=month%>"><%=month%></option>
            <%}%></select
          >월</label
        >
        <label
          ><select id="day" name="day">
            <%for(day=1; day<32; day++){%>
            <option value="<%=day%>"><%=day%></option>
            <%}%></select
          >일</label
        >
      </fieldset>
      <br />
      <fieldset>
        <legend>관심사</legend>
        <label><input type="checkbox" name="fav" value="여행" />여행 </label>
        <label><input type="checkbox" name="fav" value=" 패션" />패션 </label>
        <label><input type="checkbox" name="fav" value=" 음식 " />음식</label>
      </fieldset>
      <br />
      <fieldset>
        <legend>선택</legend>
        <label>
          좋아하는 색상:
          <input type="color" name="color" />
        </label>
        <br />
        <label>
          좋아하는 숫자:
          <input type="number" name="num" />
        </label>
        <br />
        <label>
          다짐 한마디:
          <textarea name="comment" cols="30" rows="10"></textarea>
        </label>
      </fieldset>
      <br />
      <input type="submit" value="회원가입" />
    </form>
  </body>
</html>
