<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
    <style>
      span {
        color: orange;
      }
    </style>
  </head>
  <body>
    <h2>결과 확인하기</h2>
    <p><span><%=userInfo.name%></span>님 환영합니다!</p>
    <p>성별:<%=userInfo.gender%></p>
    <p>
      생년월일: <%=userInfo.year%>년<%=userInfo.month%>월<%=userInfo.day%>일
    </p>
    <p>관심사: <%=userInfo.fav%></p>
    <hr />

    <h3>다른 태그 작성해보기</h3>
    <p>좋아하는 색갈: <span><%=userInfo.color%></span></p>
    <p>좋아하는 숫자:<%=userInfo.num%></p>

    <a href="/">홈으로 이동</a>
  </body>
</html>
